feeds/model/complexTypes/time-slot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:Cocote.Feeds.Model.ComplexTypes.TimeSlot"
           xmlns="urn:Cocote.Feeds.Model.ComplexTypes.TimeSlot"
           elementFormDefault="qualified"
>
    <xs:complexType name="timeSlot">
        <xs:sequence>
            <xs:element name="start" type="xs:string"/>
            <xs:element name="end" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>