feeds/offers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:Cocote.Feeds.Offers"
           xmlns="urn:Cocote.Feeds.Offers"
           elementFormDefault="qualified"
>
    <xs:include schemaLocation="model/simpleTypes/category.xsd"/>
    <xs:include schemaLocation="model/simpleTypes/country.xsd"/>
    <xs:include schemaLocation="model/simpleTypes/label.xsd"/>
    <xs:include schemaLocation="model/simpleTypes/payment.xsd"/>
    <xs:include schemaLocation="model/simpleTypes/state.xsd"/>
    <xs:include schemaLocation="model/simpleTypes/type.xsd"/>
    <xs:include schemaLocation="model/simpleTypes/shipping-delay.xsd"/>
    <xs:include schemaLocation="model/simpleTypes/sale-type.xsd"/>

    <xs:include schemaLocation="model/complexTypes/location.xsd"/>
    <xs:include schemaLocation="model/complexTypes/opening-days-hours.xsd"/>
    <xs:include schemaLocation="model/complexTypes/sale-point.xsd"/>
    <xs:include schemaLocation="model/complexTypes/shipping.xsd"/>
    <xs:include schemaLocation="model/complexTypes/time-slot.xsd"/>
    <xs:include schemaLocation="model/complexTypes/time-slots-day.xsd"/>
    <xs:include schemaLocation="model/complexTypes/offer-variation.xsd"/>

    <xs:element name="offers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="offer" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="offerDetails">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="title" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    The title of the offer.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                        <xs:element name="description" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    The description of the offer.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                        <xs:element name="keywords" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    The keywords of the offer.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                        <xs:element name="gtin" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    The international identifier of the offer.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                        <xs:element name="mpn" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    The manufacturer reference of the offer.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                        <xs:element name="brand" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    The brand of the offer
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                        <xs:element name="category" type="category">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    The category of the offer.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                        <xs:element name="labels">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="label" type="label" maxOccurs="unbounded">
                                                        <xs:annotation>
                                                            <xs:documentation xml:lang="en">
                                                                Labels of the offer
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="saleTypes">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="saleType" type="saleType" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="state" type="state">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    The state of the offer.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                        <xs:element name="types">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="type" type="type" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="distance" type="xs:integer">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    The distance in which we can show the offer to a visitor (based on its location).
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                        <xs:element name="price" type="xs:float">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    The price of the offer (included VAT).
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                        <xs:element name="exVatPrice" type="xs:float">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    The price of the offer (ex VAT).
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                        <xs:element name="vat" type="xs:float">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    Applied VAT in percent
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                        <xs:element name="images">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="image" type="xs:string" maxOccurs="unbounded">
                                                        <xs:annotation>
                                                            <xs:documentation xml:lang="en">
                                                                URLs of the images of the offer
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="variations">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="variation" type="offerVariation" maxOccurs="unbounded">
                                                        <xs:annotation>
                                                            <xs:documentation xml:lang="en">
                                                                Images of the offer
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="onlineSalesDetails">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="link" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    Link of the offer
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>

                                        <xs:element name="onlinePayments">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="payment" type="payment"
                                                                maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="warehouses">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="warehouse" type="location" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="shippingChoices">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="shippingChoice" type="shipping"
                                                                maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="physicalSalesDetails">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="salePoints">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="salePoint" type="salePoint" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="marketplaceDetails">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="stock" type="xs:integer">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    Stock of the offer
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="stockThreshold" type="xs:integer">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="en">
                                                    Stock threshold of the offer. If the stock becomes lesser than the threshold,
                                                    the offer will be hidden on Cocote.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string"/>
                        <xs:attribute name="updated" type="xs:dateTime"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="generated" type="xs:dateTime" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>